{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.imageFile) }}
    {{ form_row(form.category) }}
    {# {{ form_row(form.photos) }} #}
    {{ form_row(form.isActu) }}
    {{ form_row(form.size) }}
    {{ form_row(form.price) }}


    {# {% for photo in article.photos %}
        {{ form_row(form.photo) }}
        <input type="image" src="{{asset('images/articles/' ~ article.photo)}}" name="form-photo" alt="">
    {% endfor %} #}


    <button type="button"
        class="add-another-collection-widget btn btn-primary mb-3"
        data-list-selector="#photo-imageName-list">Ajouter des photos supplémentaires</button>

    <section id="photo-imageName-list" class="d-flex"
        data-prototype='{{ form_widget(form.photos.vars.prototype)|e }}<button  class="btn-remove-color">Supprimer</button>' #}
        data-widget-tags="{{ '<div class="d-flex"></div>'|e }}"
        data-widget-counter="{{ form.photos|length }}">
    {% for photo in form.photos %}
        <div class="d-flex">
            
            {{ form_widget(photo) }}
            <a href="" class="btn-remove-photo">Supprimer</a>
        </div>
    {% endfor %}
    </section> 


    <button type="button"
        class="add-another-collection-widget btn btn-primary mb-3"
        data-list-selector="#color-fields-list">Ajouter une nouvelle couleur</button>

    <section id="color-fields-list" class="d-flex"
        data-prototype='{{ form_widget(form.colors.vars.prototype)|e }}<button  class="btn-remove-color">Supprimer</button>'
        data-widget-tags="{{ '<div class="d-flex"></div>'|e }}"
        data-widget-counter="{{ form.colors|length }}">
    {% for color in form.colors %}
        <div class="d-flex">
            {# {{ form_errors(color) }} #}
            {{ form_widget(color) }}
            <a href="" class="btn-remove-color">Supprimer</a>
        </div>
    {% endfor %}
    </section>



    
    <button class="btn btn-success">{{ button_label|default('Sauvegarder') }}</button>

{{ form_end(form) }}
