{% extends 'base.html.twig' %}

{% block title %}Bibelou - Page d'Accueil{% endblock %}

{% block body %}


<div id="carouselExampleControls" class="carousel slide bg-carousel" data-bs-ride="carousel">
    <div class="carousel-inner">
    {% for carousel in carousels %}
    {% if loop.index0 == 0 %}
        {% set active = "active" %}
        {% else %}
        {% set active = "" %}
        {% endif %}
        <div class="carousel-item {{active}}">
            <div class="row">
                <img src="{{ asset('images/carousel/' ~ carousel.imageName) }}" class="col-12 col-md-5" alt="...">

                <div class="col-12 col-md-7 align-self-center">
                    <h5 class="mb-5">{{carousel.title}}</h5>
                    <br>
                    <p>{{carousel.texte}}</p>
                </div>
            </div>
        </div>
    {% endfor %}
        
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


        {# {% if category.articles|length > 0 %} #}
    <div class="container">
    <h3 class="mt-5 text-center">Découvrez nos nouveautés</h3>
        <div class="row d-flex justify-content-center">
        
            {% for article in articles %}
                <div class="card m-5" style="width: 18rem;">
                    <a href="{{ path('article-detail', {'id': article.id}) }}">
                    <img src="{{ asset('images/articles/' ~ article.imageName) }}" class="card-img-top"  alt="...">
                    </a>
                <div class="card-body d-flex flex-wrap">
                    <div>
                        <h5 class="card-title d-block">{{article.name}}</h5>
                        <p class="card-text w-100">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <a href="{{ path('add-to-cart', {'id': article.id}) }}" class="btn btn-primary align-self-end mt-3 bt-cart">Ajouter au panier</a>
                </div>
            
    </div>
            {% endfor %}


    





    </div>

{% endblock %}
