{% extends 'base.html.twig' %}

{% block title %}{{ article.name}}{% endblock %}

{% block body %}
{# {{ dump(article) }} #}


<section class="row mt-5">
    <div class="col-12 col-md-4 col-xl-3">
        <img src="{{ asset('images/articles/' ~ article.imageName) }}" alt="" class="img-fluid">
    </div>
    <div class="col-12 col-md-4 col-xl-4">
    <h2>{{ article.name }}</h2>
    <h2>{{article.price|number_format(2)}} €</h2>
    
    <div class="d-flex">
        <div>Couleur :</div>
        {% for color in article.colors %}
            <div style="width:20px; height:20px; background-color:{{color.field}}; margin-left:5px;"></div>   
        {% endfor %}
    </div>

    <p class="m-5">{{ article.description|raw }}</p>
    </div>
</section>
{% endblock %}