{% extends 'base.html.twig' %}

{% block title %}Mon Compte{% endblock %}

{% block body %}



{{ include('_navMonEspace.html.twig') }}


<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <table class="table table-striped">
            <tr>
                <td>Nom</td>
                <td>{{user.name}}</td>
            </tr>
            <tr>
                <td>Prénom</td>
                <td>{{user.firstname}}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{user.email}}</td>
            </tr>

            <tr>
                <td>Adresse</td>
                {% for adress in user.adresses %}
                <div class="d-flex flex-wrap">
                    <td>{{ adress.name }} - {{ adress.address }} <br> {{adress.zipcode}} {{adress.city}} </td>
                </div>


                {% endfor %}
            </tr>

        </table>
        
    <a href="{{path('edit-profile')}}" class="btn btn-sm bg-success">Modifier</a> 
</div>

{% endblock %}
